* {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 15px 10px;

    background-color: white;
    border: 1px solid #e0e0e0;
}

.nav-item {
    color: #4F4F4F;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    color: unset;
}

.active {
    background-color: #7a7a7a;
    color: #f0f0f0;
    border-radius: 50rem;
    padding: 0px 9px;
}

body {
    background-color: #dbdbdb;
}

.table-wrapper {
    padding: 24px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    white-space: nowrap;

    display: flex;
    align-items: center;
    max-width: 70vw;
}

.text-1 {
    color: #4F4F4F;
    font-weight: 700;
}

.text-2 {
    color: #4F4F4F;
}

.text-3 {
    color: #757575;
}

.pos-junior {
    background-color: #befdff;
    color: #14a5aa;
    border-radius: 50rem;
    padding: 3px 9px;
}

.pos-middle {
    background-color: #c1ffdc;
    color: #04a74b;
    border-radius: 50rem;
    padding: 3px 9px;
}

.pos-senior {
    background-color: #ffdcbe;
    color: #cf6f1b;
    border-radius: 50rem;
    padding: 3px 9px;
}

thead {
    background-color: rgb(245, 245, 245);
}

td {
    padding: 16px 24px !important;
    color: #4F4F4F;
}

th {
    padding: 10px 24px !important;
}