{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='aboutEmployee.css') }}">
	<script src="{{ url_for('static', filename='aboutEmployee.js') }}" defer></script>
{% endblock %}

{% block body %}
	<div class="title__wrapper">
		<h2 class="title">Employee</h2>
		<div class="title__button__wrapper">
			<a href="/employees"><button type="button" class="btn btn-dark create-btn">Get
					Employees</button></a>
			<a href="/employees/new"><button type="button" class="btn btn-dark create-btn">Add
					Employee</button></a>
		</div>
	</div>
	<!-- Account details card-->
	<div class="card mb-4">
		<div class="card-header">Employee Details</div>
		<div class="card-body">
			<form class="form">

			</form>

		</div>
	</div>
{% endblock %}
