{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='addEmployee.css') }}">
	<script src="{{ url_for('static', filename='addEmployee.js') }}" defer></script>
{% endblock %}

{% block body %}
	<div class="title__wrapper">
		<h2 class="title">Add Employee</h2>
		<a href="/employees"><button type="button" class="btn btn-dark create-btn">Get
				Employees</button></a>
	</div>
	<div class="form__container">
		<h2 class="form__title">Enter employee data</h2>
		<form class="form">
			<!-- 2 column grid layout with text inputs for the first and last names -->
			<div class="row mb-4">
				<div class="col">
					<div class="form-outline">
						<input type="text" id="first-name" class="form-control" placeholder="First Name *"
							required="required" />
					</div>
				</div>
				<div class="col">
					<div class="form-outline">
						<input type="text" id="second-name" class="form-control" placeholder="Second Name *"
							required="required" />
					</div>
				</div>
			</div>

			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" id="email" class="form-control" placeholder="Email *" required="required" />
			</div>

			<!-- Phone input -->
			<div class="form-outline mb-4">
				<input type="tel" id="phone" class="form-control" placeholder="Phone *" required="required" />
			</div>

			<!-- Position input -->
			<div class="form-outline mb-4">
				<select class="form-control" id="position" required>
					<option value="" class="hidden" selected disabled>Select the position</option>
					<option value="Junior">Junior</option>
					<option value="Middle">Middle</option>
					<option value="Senior">Senior</option>
				</select>
			</div>

			<!-- Role input -->
			<div class="form-outline mb-4">
				<select class="form-control" id="role" required>
					<option value="" class="hidden" selected disabled>Select the role</option>
					<option value="Developer">Developer</option>
					<option value="Designer">Designer</option>
					<option value="Architector">Architector</option>
					<option value="Front End">Front End</option>
					<option value="Back End">Back End</option>
					<option value="Full Stack">Full Stack</option>
					<option value="DevOps">DevOps</option>
				</select>
			</div>

			<!-- Submit button -->
			<div class="success-msg hidden">
				<i class="fa fa-check"></i>
				The employee was added successfully
			</div>
			<div class="error-msg hidden">
				<i class="fa fa-times-circle"></i>
				Error adding employee:
			</div>
			<button type="submit" class="btn btn-dark btn-block mb-4 btn-add">Add Employee</button>
			<div class="form__reset-div">
				<p class="form__reset">Clear the form</p>
			</div>

		</form>
	</div>
	<div class="lds-dual-ring hidden"></div>
{% endblock %}
