<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addEmployee.css') }}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='addEmployee.js') }}" defer></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Test Aplication</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Employees
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="allEmployees.html">All Employees</a></li>
                            <li><a class="dropdown-item" href="addEmployee.html">Add Employee</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/projects">All projects</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="title__wrapper">
            <h2 class="title">Add Employee</h2>
            <a href="allEmployees.html"><button type="button" class="btn btn-dark create-btn">Get
                    Employees</button></a>
        </div>
        <div class="form__container">
            <h2 class="form__title">Enter all employee data</h2>
            <form class="form">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="first-name" class="form-control" placeholder="First Name *"
                                required="required" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="second-name" class="form-control" placeholder="Second Name *"
                                required="required" />
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" placeholder="Email *" required="required" />
                </div>

                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input type="tel" id="phone" class="form-control" placeholder="Phone *" required="required" />
                </div>

                <!-- Position input -->
                <div class="form-outline mb-4">
                    <select class="form-control" id="position" required>
                        <option value="" class="hidden" selected disabled>Select the position</option>
                        <option value="Junior">Junior</option>
                        <option value="Middle">Middle</option>
                        <option value="Senior">Senior</option>
                    </select>
                </div>

                <!-- Role input -->
                <div class="form-outline mb-4">
                    <select class="form-control" id="role" required>
                        <option value="" class="hidden" selected disabled>Select the role</option>
                        <option value="Developer">Developer</option>
                        <option value="Designer">Designer</option>
                        <option value="Architector">Architector</option>
                        <option value="Front End">Front End</option>
                        <option value="Back End">Back End</option>
                        <option value="Full Stack">Full Stack</option>
                        <option value="DevOps">DevOps</option>
                    </select>
                </div>

                <!-- Submit button -->
                <div class="success-msg hidden">
                    <i class="fa fa-check"></i>
                    The employee was added successfully
                </div>
                <div class="error-msg hidden">
                    <i class="fa fa-times-circle"></i>
                    Error adding employee:
                </div>
                <button type="submit" class="btn btn-dark btn-block mb-4 btn-add">Add Employee</button>
                <div class="form__reset-div">
                    <p class="form__reset">Clear the form</p>
                </div>

            </form>
        </div>
        <div class="lds-dual-ring hidden"></div>
    </div>
</body>

</html>