{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='allEmployees.css') }}">
	<script src="{{ url_for('static', filename='allEmployees.js') }}" defer></script>
{% endblock %}

{% block body %}
	<div class="title__wrapper">
		<h2 class="title">Employees List</h2>
		<a href="/employees/new"><button type="button" class="btn btn-dark create-btn">Add
				Employee</button></a>
	</div>
	<div class="fliter__wrapper">
		<h2 class="filter_title">Search by:</h2>
		<div class="btn-group filters" role="group" aria-label="Basic radio toggle button group">
			<input type="radio" class="btn-check filter" name="btnradio" id="name" autocomplete="off">
			<label class="btn btn-outline-dark" for="name">Name</label>

			<input type="radio" class="btn-check filter" name="btnradio" id="role" autocomplete="off">
			<label class="btn btn-outline-dark" for="role">Role</label>

			<input type="radio" class="btn-check filter" name="btnradio" id="phone" autocomplete="off">
			<label class="btn btn-outline-dark" for="phone">Phone</label>

			<input type="radio" class="btn-check filter" name="btnradio" id="position" autocomplete="off">
			<label class="btn btn-outline-dark" for="position">Position</label>
		</div>
	</div>
	<h2 class="error hidden">You need to choose filter</h2>
	<form class="d-flex search" role="search">
		<input class="form-control me-2 input-search" type="search" placeholder="Search" aria-label="Search">
		<button type="submit" class="btn btn-outline-dark button-search">Search</button>
	</form>
	<table class="table table-hover">
		<thead class="table__head">
			<tr class="table_tr table-dark">
			</tr>
		</thead>
		<tbody class="table__body">
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination pagination-black justify-content-center">
			<li class="page-item"><a class="page-link previous previousEvent" href="#">Prev</a></li>
			<li class="page-item"><a class="page-link page" href="#">1</a></li>
			<li class="page-item"><a class="page-link next nextEvent" href="#">Next</a></li>
		</ul>
	</nav>
	<div class="lds-dual-ring hidden"></div>
{% endblock %}
