{% extends 'index.html' %}

{% block body %}

<div class="table-wrapper">
    <table class="table align-middle mb-0 bg-white">
        <thead>
            <tr>
                <th class="text-3">ID</th>
                <th class="text-3">Ім'я</th>
                <th class="text-3">Позиція</th>
                <th class="text-3">Роль</th>
                <th class="text-3">Email</th>
                <th class="text-3">Телефон</th>
                <th class="text-3">Проєктів</th>
            </tr>
        </thead>

        <tbody>

        {% for emp in items['items'] %}
            <tr>
                <td class="text-2">{{ emp.id }}</td>
                <td class="text-2">{{ emp.name }}</td>
                <td class="text-3"><span class="pos-{{ emp.position.lower() }}">{{ emp.position }}</span></td>
                <td class="text-3">{{ emp.role }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.phone }}</td>
                <td>{{ emp.projects|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center">
    {% if items['paging'].previous %}
    <a class="btn btn-light btn-sm" href="{{ '/'.join(request.base_url.split('/')[:-1]) + '/' + items['paging'].previous.split('page=')[-1] }}">Попередня</a>
    {% else %}
    <a class="btn btn-light btn-sm disabled">Попередня</a>
    {% endif %}

    <a class="btn btn-light btn-sm">{{ items['paging'].current.split("page=")[1] }}</a>
    
    {% if items['paging'].next %}
    <a class="btn btn-light btn-sm" href="{{ '/'.join(request.base_url.split('/')[:-1]) + '/' + items['paging'].next.split('page=')[-1] }}">Наступна</a>
    {% else %}
    <a class="btn btn-light btn-sm disabled">Наступна</a>
    {% endif %}
</div>

{% endblock %}